@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  margin: 0;
  padding: 0;
}

// SHAPKA-MENU
.container-header {
  background-color: #f8f6f6;

  .container-header__menu {
    max-width: 1004px;
    width: 100%;
    height: 143px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;


    .container-header__menu__logo img {
      margin-right: 26px;
    }

    .buter {
      background-image: url('../assets/img/buter.png');
      width: 30px;
      height: 22px;
    }
  }
}

.container-box_2 {
  background-color: #353535;

  // BOX-2
  .container-box_2__box_2 {
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .container-box_2__box_2 h2 {
    font-family: 'BigNoodleTitling';
    font-size: 72px;
    color: #d6d5d5;
    font-weight: normal;
    margin-bottom: 25px;
    margin-top: 323px;
    text-align: center;
  }

  .container-box_2__box_2 h4 {
    font-family: 'BigNoodleTitling';
    font-size: 36px;
    color: #d6d5d5;
    font-weight: normal;
    margin-bottom: 171px;
  }

  .container-box_2__box_2__img_mouse {
    margin-bottom: 20px;
  }

  .container-box_2__img_box_2__SD {
    margin-bottom: 20px;
  }
}

// ABOUT US
.container-box_3 {
  background-color: #ffffff;
  margin-bottom: 100px;

  .container-box_3__box_3 {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;


    .container-box_3__box_3__h4 {
      font-family: 'BigNoodleTitling';
      font-size: 48px;
      color: #3d3d3d;
      margin-top: 95px;
    }

    .container-box_3__box_3__p {
      font-family: 'Roboto-Thin', sans-serif;
      font-size: 14px;
      color: #696969;
      font-weight: 600;
      margin-top: 40px;
      text-align: center;
      max-width: 542px;
    }

    .container-box_3__box_3__blocks {

      max-width: 1004px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin-top: 60px;

      .pod_blocks {
        // max-width: 321px;
        background-color: #ebebeb;
        text-align: center;
        padding-top: 31px;
        padding-right: 40px;
        padding-left: 30px;
        opacity: 0.8;
        margin-top: 15px;
        margin-right: 10px;

        h5 {
          font-size: 18px;
          color: #707070;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          margin-top: 24px;
        }

        p {
          font-size: 14px;
          color: #707070;
          font-family: 'Roboto', sans-serif;
          margin-top: 17px;
        }
      }
    }
  }
}

.container-box_4 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;


  .container-box_4__block_1 {
    background-color: #171f23;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h4 {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: #e7e7e7;
      margin-top: 131px;

    }

    p {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #696969;
      text-align: center;
      margin-top: 30px;
    }

    button {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #ebebeb;
      padding: 13px 30px;
      background-color: #e64e40;
      margin-top: 43px;
      margin-bottom: 20px;
    }
  }

  .container-box_4__block_2 {
    background-image: url('../assets/img/girl.jpg');
    background-position: center;
    width: 50%;


  }
}

// OUR WORKS
.container-box_5 {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;


  .container-box_5__h2 {
    font-family: 'BigNoodleTitling';
    font-weight: 400;
    font-size: 48px;
    color: #3d3d3d;
    margin-top: 78px;
    margin-bottom: 41px;
  }

  .container-box_5__p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #696969;
    margin-bottom: 86px;
    text-align: center;
  }

  .container-box_5__ul {
    list-style-type: none;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 14px;
    color: #3d3d3d;
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 28px;
    box-sizing: border-box;

    li {
      display: inline;


      a {
        text-decoration: none;
      }
    }
  }
}

.container-box_5__ul li a:hover {
  font-weight: 200;
  color: #3d3d3d;
  border-bottom: 2px solid red;
}

// BOX-6
.container-box_6 {
  width: 100%;
  height: 523px;
  background-color: #e84c3d;
}

// BOX-7
.container-box_7 {
  width: 100%;
  height: 270px;
  background: #1c1c1c;
  display: flex;
  flex-flow: row wrap;

  .container-box_7__box {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;


    .container-box_7__box__li__imgstrl {
      margin-right: 100px;
    }

    .container-box_7__box__li {
      margin-right: 40px;

      img {
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        font-family: 'MgOpen Modata';
        font-size: 33px;
        color: #c7bbba;
      }
    }
  }

  .container-box_7__box__li__imgstrr {
    margin-left: 100px;
  }
}

// BOX-8
.container-box_8 {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 105px;

  .container-box_8__h2 {
    font-family: 'BigNoodleTitling';
    font-size: 48px;
    color: #3d3d3d;
    margin-top: 82px;
    margin-bottom: 43px;
  }

  .container-box_8__p {
    font-family: 'Roboto';
    font-size: 14px;
    color: #696969;
    max-width: 545px;
    text-align: center;
  }

  .container-box_8__two_Box {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 85px;
    justify-content: center;

    .container-box_8__two_Box__1 {
      width: 30%;
      max-height: 460px;
      background: #ebebeb;
      margin-right: 22px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;


      .img {
        width: 132px;
        height: 132px;
        border-radius: 70px;
        background-color: red;
        margin-top: 70px;
        margin-bottom: 30px;
      }

      h4 {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: bold;
        color: #3d3d3d;
        margin-bottom: 7px;
      }

      h6 {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 100;
        color: #3d3d3d;
        margin-bottom: 23px;

      }

      .container-box_8__two_Box__1__socbtn {
        margin-bottom: 50px;
      }

      .container-box_8__two_Box__1__circles {
        width: 50px;
        height: 12px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .imgC {
          width: 12px;
          height: 12px;
          border-radius: 6px;
          background-color: #ffffff;
        }

        .imgC:hover {
          transition: 0.8s;
          background: grey;
        }
      }
    }

    .container-box_8__two_Box__2 {
      width: 40%;
      max-height: 436px;
      background-color: #ebebeb;
      padding: 10px 40px;


      .container-box_8__two_Box__2__h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #3d3d3d;
        margin-bottom: 25px;
        margin-top: 100px;
      }

      .container-box_8__two_Box__2__p {
        font-family: 'Roboto';
        font-size: 14px;
        color: #858383;
        margin-bottom: 42px;
      }

      .container-box_8__two_Box__2__list {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 14px;
        color: #3d3d3d;
        list-style-type: none;

        li {
          margin-bottom: 22px;

          span {

            color: red;
          }
        }
      }
    }
  }

}

// SOME FEAUTURES
.container-box_9 {
  width: 100%;
  background-color: #171f23;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 70px;


  .container-box_9__h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    color: #f3e7e6;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .container-box_9__undBlocks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 900px;

    .undblock {
      text-align: center;
      height: 165px;
      padding: 0 40px;

      .undblock__img__1{
        background-image: url('../assets/img/IntPlg.png');
        width: 100%;
        height: 40%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .undblock__img__2{
        background-image: url('../assets/img/shortcodes.png');
        width: 100%;
        height: 40%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .undblock__img__3{
        background-image: url('../assets/img/ClientsWrldwd.png');
        width: 100%;
        height: 40%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .undblock__img__4{
        background-image: url('../assets/img/CrtPrd.png');
        width: 100%;
        height: 40%;
        background-repeat: no-repeat;
        background-position: center;
      }

      .container-box_9__undBlocks__p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #f6f6f6;
        font-weight: 200;
      }

      .container-box_9__undBlocks__number {
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        color: #f6f6f6;
        font-weight: 200;
      }
    }
  }
}

//BLOG POSTS
.container-box_10 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .container-box_10__h2 {
    font-family: 'BigNoodleTitling';
    font-size: 48px;
    color: #3d3d3d;
    font-weight: 400;
    margin-top: 75px;
    margin-bottom: 42px;
  }

  .container-box_10__p {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    color: #696969;
    margin-bottom: 72px;
    max-width: 545px;
    text-align: center;
  }

  .container-box_10__articles {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1005px;
    justify-content: space-between;
    margin-bottom: 115px;

    .container-box_10__articles__undarticles {
      max-width: 321px;

      background-color: #ebebeb;
      margin-right: 10px;
      margin-left: 10px;
      padding-bottom: 10px;

      .container-box_10__articles__undarticles__img {
        height: 220px;
        width: 100%;
        background-color: #787474;

      }

      .container-box_10__articles__undarticles__box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 29px 33px 0px 30px;

        .container-box_10__articles__undarticles__box__h6 {
          font-family: 'Roboto';
          font-weight: 200;
          font-size: 18px;
          color: #505050;
          margin-bottom: 30px;
        }

        .container-box_10__articles__undarticles__box__p {
          font-family: 'Roboto';
          font-weight: 100;
          font-size: 14px;
          color: #797979;
          margin-bottom: 28px;
        }

        .container-box_10__articles__undarticles__box__data {
          font-family: 'Roboto';
          font-weight: 100;
          font-size: 10px;
          color: #797979;
        }
      }
    }
  }
}

//Chose Plan
.container-box_11 {
  background-color: #171f23;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  // max-height: 800px;

  .container-box_11__h2 {
    font-family: 'Roboto Condensed';
    font-size: 36px;
    color: #ffffff;
    margin-top: 58px;
    margin-bottom: 75px;
  }

  .container-box_11__tarifPlanes {
    max-width: 935px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


    .container-box_11__tarifPlanes__box {
      // max-width: 232px;
      max-height: 450px;
      background-color: #1f282c;
      margin-bottom: 60px;
      box-sizing: border-box;

      .container-box_11__tarifPlanes__box__1 {
        height: 128px;
        background-color: #0e1316;
        text-align: center;

        .container-box_11__tarifPlanes__box__1__h6 {
          font-family: 'roboto';
          font-weight: bold;
          font-size: 14px;
          color: #ffffff;
          padding-top: 33px;
          padding-bottom: 10px;

        }

        .container-box_11__tarifPlanes__box__1__h4 {
          font-family: 'roboto';
          font-weight: 200;
          font-size: 36px;
          color: #ffffff;
        }
      }

      .container-box_11__tarifPlanes__box__2 {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;


        .container-box_11__tarifPlanes__box__2__list {
          margin-top: 47px;

          li {
            list-style-type: none;
            font-family: 'roboto';
            font-weight: 400;
            font-size: 14px;
            color: #ffffff;
            line-height: 30px;

            span {
              font-family: 'roboto';
              font-weight: bold;
              font-size: 14px;
              color: #ffffff;
            }
          }
        }

        button {
          margin-top: 77px;
          font-family: 'roboto';
          font-weight: bold;
          font-size: 14px;
          color: #ffffff;
          padding: 11px 21px 11px 22px;
          background-color: #f3724d;
          border-radius: 5px;
          border: 1px solid black;
          margin-bottom: 40px;
          margin-left: 52px;
          margin-right: 52px;
        }
      }
    }
  }
}

.container-box_11__tarifPlanes__box:hover {
  border: 1px solid orangered;


}

//GET IN TOUCH
.container-box_12 {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #fff;

  .container-box_12__h2 {
    font-family: 'BigNoodleTitling';
    font-size: 48px;
    color: #3d3d3d;
    margin-top: 85px;
    margin-bottom: 42px;
  }

  .container-box_12__p {
    max-width: 545px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    color: #696969;
    font-weight: 200;
    margin-bottom: 100px;
  }

  .container-box_12__form {
    max-width: 775px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 85px;
    justify-content: center;

    h4 {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 14px;
      color: #696969;
    }

    .container-box_12__form__Name {
      flex: 1 50%;
      margin-bottom: 50px;

      input {
        border: none;
        border-bottom: 2px solid grey;
        width: 90%;
      }
    }

    .container-box_12__form__Email {
      flex: 1 50%;
      margin-bottom: 50px;

      input {
        border: none;
        border-bottom: 2px solid grey;
        width: 100%;
      }
    }

    .container-box_12__form__Message {
      flex: 2 100%;
      margin-bottom: 60px;

      input {
        border: none;
        border-bottom: 2px solid grey;
        width: 100%;
      }
    }

    button {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 14px;
      color: #fff;
      padding: 20px 43px;
      background-color: #f6744b;
      // margin-top: 62px;

    }
  }


}

//BOX-13
.container-box_13 {
  height: 85px;
  background-color: #0c1215;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .container-box_13__h2 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    color: #fff;
  }
}

//BOX-14
.container-box_14 {
  height: 240px;
  background-color: #171f23;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;

  .container-box_14__h4 {
    font-family: 'BigNoodleTitling';
    font-weight: normal;
    font-size: 24px;
    color: #fff;
  }

  .container-box_14__p {
    font-family: 'Roboto Condensed';
    font-weight: normal;
    font-size: 14px;
    color: #fff;
  }

}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .container-header {
    .container-header__menu {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      justify-content: space-around;
    }
  }

  .container-box_2 {
    .container-box_2__box_2 {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      width: 100vw;

      h2,
      h4 {
        font-size: 2rem;
      }
    }
  }

  .container-box_3 {
    width: 100%;
    display: flex;
    flex-flow: column wrap;

    .container-box_3__box_3 {
      .container-box_3__box_3__blocks {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;

      }
    }
  }

  .container-box_4 {
    .container-box_4__block_1 {
      width: 100%;
    }

    .container-box_4__block_2 {
      display: none;
    }
  }

  .container-box_5 {
    text-align: center;

    .container-box_5__ul {
      display: flex;
      flex-flow: column wrap;
      align-content: center;

      li {
        margin-bottom: 10px;
      }
    }
  }

  .container-box_6 {
    display: none;
  }

  .container-box_7 {
    img {
      display: none;
    }

    .container-box_7__box {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }

    .container-box_7__box__li a:hover {
      color: #d6d5d5;
    }
  }

  .container-box_8 {
    text-align: center;

    .container-box_8__two_Box {
      display: flex;
      flex-flow: column wrap;
      align-items: center;

      .container-box_8__two_Box__1 {
        width: 90%;
      }

      .container-box_8__two_Box__2 {
        display: none;
      }
    }
  }

  .container-box_9 {
    .container-box_9__undBlocks {
      display: flex;
      flex-flow: column wrap;
    }
  }

  .container-box_10 {
    .container-box_10__articles {
      display: flex;
      flex-flow: column wrap;
      align-content: center;

      .container-box_10__articles__undarticles {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width:601px) and (max-width: 1200px) {
  .container-box_8 {
    .container-box_8__two_Box {
      .container-box_8__two_Box__2 {
        .container-box_8__two_Box__2__list{
          font-size: 0.5rem;
        }
      }
    }
  }
}